<a href="https://colab.research.google.com/github/Codebyjanhvi/Bilateral-Debt/blob/main/BilateralDebt_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Upload manually in Colab first: from google.colab import files; files.upload()
file_path = "/content/Bilateral Debt Analysis .xlsx"

# Check available sheets
xls = pd.ExcelFile(file_path)
print(xls.sheet_names)

# Load main sheet

df.head(10)

['PPG Bilateral Debt', 'Sheet1', 'Data in Charts', 'Bangladesh', 'Bhutan', 'SriLanka', 'Maldives', 'Myanmar', 'Nepal']

,Unnamed: 0,India - Neighbouring Countries PPG Bilateral Debt Stats,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 9,Unnamed: 10
1,Sum of Debt,Column Labels,NaN,NaN,NaN,NaN,NaN,NaN,Country,Total Debt
2,Row Labels,BGD,BTN,LKA,MDV,MMR,NPL,Grand Total,BGD,6012385635.3
3,2000,5777731.5,84037822.6,15291160.2,0,12250000,0,117356714.3,BTN,17849159963.700001
4,2001,5606247.4,138980448.4,12779033.2,0,15550000,0,172915729,LKA,9993325488.799999
5,2002,5623756,200277285,28929017.3,0,18166922.9,0,252996981.2,MDV,1708941195
6,2003,5922144.3,278845099.7,68540000,0,23739076.7,0,377046320.7,MMR,2780001590.5
7,2004,6197292.6,360773408.3,98010000,0,39384995.4,0,504365696.3,NPL,873957263.8
8,2005,5993764.6,397140508.1,103799000,0,56164743.9,0,563098016.6,Grand Total,39217771137.100006
9,2006,5713278.3,424594055.8,126106000,0,68550816.8,0,624964150.9,NaN,NaN
10,2007,6168032.5,465019934,138902000,0,84755012.5,0,694844979,NaN,NaN

In [69]:
df = pd.read_excel(file_path, sheet_name="PPG Bilateral Debt")
df.head(10)

,Unnamed: 0,India - Neighbouring Countries PPG Bilateral Debt Stats,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sum of Debt,Column Labels,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Labels,BGD,BTN,LKA,MDV,MMR,NPL,Grand Total
3,2000,5777731.5,84037822.6,15291160.2,0,12250000,0,117356714.3
4,2001,5606247.4,138980448.4,12779033.2,0,15550000,0,172915729
5,2002,5623756,200277285,28929017.3,0,18166922.9,0,252996981.2
6,2003,5922144.3,278845099.7,68540000,0,23739076.7,0,377046320.7
7,2004,6197292.6,360773408.3,98010000,0,39384995.4,0,504365696.3
8,2005,5993764.6,397140508.1,103799000,0,56164743.9,0,563098016.6
9,2006,5713278.3,424594055.8,126106000,0,68550816.8,0,624964150.9

In [70]:
# Shape of dataset
print(df.shape)

# Column info
print(df.info())

# Summary statistics
print(df.describe())

# Missing values check
print(df.isnull().sum())

(25, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Unnamed: 0                                               24 non-null     object
 1   India - Neighbouring Countries PPG Bilateral Debt Stats  24 non-null     object
 2   Unnamed: 2                                               23 non-null     object
 3   Unnamed: 3                                               23 non-null     object
 4   Unnamed: 4                                               23 non-null     object
 5   Unnamed: 5                                               23 non-null     object
 6   Unnamed: 6                                               23 non-null     object
 7   Unnamed: 7                                               23 non-null     object
dtypes: object(8)
memory usage: 1.7+ KB
None
         Unnamed: 0 India - Neighbouring Countries PPG Bilateral Debt Stats  \
count            24                                                 24
unique           24                                                 24
top     Sum of Debt                                      Column Labels
freq              1                                                  1

       Unnamed: 2 Unnamed: 3  Unnamed: 4 Unnamed: 5  Unnamed: 6   Unnamed: 7
count          23         23          23         23          23           23
unique         23         23          15         23          14           23
top           BTN        LKA           0        MMR           0  Grand Total
freq            1          1           9          1           9            1
Unnamed: 0                                                 1
India - Neighbouring Countries PPG Bilateral Debt Stats    1
Unnamed: 2                                                 2
Unnamed: 3                                                 2
Unnamed: 4                                                 2
Unnamed: 5                                                 2
Unnamed: 6                                                 2
Unnamed: 7                                                 2
dtype: int64

In [71]:
df.info()

# Handle missing values
df = df.dropna(how="all")   # drop empty rows
df = df.dropna(axis=1, how="all")   # drop empty columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Unnamed: 0                                               24 non-null     object
 1   India - Neighbouring Countries PPG Bilateral Debt Stats  24 non-null     object
 2   Unnamed: 2                                               23 non-null     object
 3   Unnamed: 3                                               23 non-null     object
 4   Unnamed: 4                                               23 non-null     object
 5   Unnamed: 5                                               23 non-null     object
 6   Unnamed: 6                                               23 non-null     object
 7   Unnamed: 7                                               23 non-null     object
dtypes: object(8)
memory usage: 1.7+ KB

Country with Highest Debt

In [72]:
if "Year" in df.columns:
    df["Year"] = pd.to_numeric(df["Year"], errors="coerce")

# Ensure Debt Amount is numeric
if "Debt Amount" in df.columns:
    df["Debt Amount"] = pd.to_numeric(df["Debt Amount"], errors="coerce")

# Drop rows where Debt Amount is missing
if "Debt Amount" in df.columns:
    df = df.dropna(subset=["Debt Amount"])

In [74]:
if "Debtor Country" in df.columns:
    country_debt = df.groupby("Debtor Country")["Debt Amount"].sum().reset_index()
    country_debt = country_debt.sort_values(by="Debt Amount", ascending=False)

    plt.figure(figsize=(12,6))
    sns.barplot(x="Debtor Country", y="Debt Amount", data=country_debt, palette="Blues_d")
    plt.xticks(rotation=45, ha="right")
    plt.title("Total Debt by Country")
    plt.show()

    print("\nTop 5 Countries with Highest Debt:\n", country_debt.head())

In [75]:
if "Year" in df.columns:
    yearly_debt = df.groupby("Year")["Debt Amount"].sum().reset_index()

    plt.figure(figsize=(10,6))
    plt.plot(yearly_debt["Year"], yearly_debt["Debt Amount"], marker="o")
    plt.title("Total Debt Trend Over Years")
    plt.xlabel("Year")
    plt.ylabel("Debt Amount")
    plt.grid(True)
    plt.show()

In [76]:
if "Loan Status" in df.columns:
    status_count = df["Loan Status"].value_counts()
    plt.figure(figsize=(6,6))
    plt.pie(status_count, labels=status_count.index, autopct="%1.1f%%", startangle=90)
    plt.title("Overall Loan Status Distribution")
    plt.show()